model_types:
    -
        model_type_name: RedPlane
        dll_path: "D:/A_code/simplecq/bin/RelWithDebInfo/mymodel.dll"
        output_movable: true
    -
        model_type_name: BluePlane
        dll_path: "D:/A_code/simplecq/bin/RelWithDebInfo/mymodel.dll"
        output_movable: true
    -
        model_type_name: RedMissile
        dll_path: "D:/A_code/simplecq/config/plane/aamissilemodel-upper/build/output/bin/RelWithDebInfo/models/test-model-id/aamissile_model.dll"
        output_movable: true
    -
        model_type_name: BlueMissile
        dll_path: "D:/A_code/simplecq/config/plane/aamissilemodel-upper/build/output/bin/RelWithDebInfo/models/test-model-id/aamissile_model.dll"
        output_movable: true
    -
        model_type_name: agent
        dll_path: "D:/A_code/simplecq/bin/RelWithDebInfo/agent.dll"
        output_movable: false

models:
    -
        model_type: RedPlane
        side_id: 1
        id: 1
        init_value: "<c>
                        <isleader><bool>0</bool></isleader>
                        <Altitude><double>2500.0</double></Altitude>
                        <Latitude><double>35.0</double></Latitude>
                        <Longitude><double>115.0</double></Longitude>
                        <Speed><double>250.0</double></Speed>
                        <Pitch><double>0.0</double></Pitch>
                        <Yaw><double>0.0</double></Yaw>
                        <Roll><double>0.0</double></Roll>
                        <MissileNum><uint64_t>5</uint64_t></MissileNum>
                        <weaponModelID><string>RedMissile</string></weaponModelID>
                        <Fuel><double>5000.0</double></Fuel>
                    </c>"
    
    -
        model_type: agent
        side_id: 1
        id: 2
        init_value: "<c><port><uint32_t>40029</uint32_t></port></c>"
    -
        model_type: BluePlane
        side_id: 2
        id: 3
        init_value: "<c>
                        <isleader><bool>0</bool></isleader>
                        <Altitude><double>2500.0</double></Altitude>
                        <Latitude><double>36.3</double></Latitude>
                        <Longitude><double>115.0</double></Longitude>
                        <Speed><double>250.0</double></Speed>
                        <Pitch><double>0.0</double></Pitch>
                        <Yaw><double>180.0</double></Yaw>
                        <Roll><double>0.0</double></Roll>
                        <MissileNum><uint64_t>5</uint64_t></MissileNum>
                        <weaponModelID><string>BlueMissile</string></weaponModelID>
                        <Fuel><double>5000.0</double></Fuel>
                    </c>"
topics:
    # to root
    - 
        from: RedPlane
        members:
            - ForceSideID
            - State
            - Longitude
            - Latitude
        subscribers:
            - 
                to: root
                name_convert:
                    - {name: ForceSideID}
                    - {name: State}
                    -
                        src_name: Longitude
                        dst_name: longitude
                    -
                        src_name: Latitude
                        dst_name: latitude
    - 
        from: BluePlane
        members:
            - ForceSideID
            - State
            - Longitude
            - Latitude
        subscribers:
            - 
                to: root
                name_convert:
                    - {name: ForceSideID}
                    - {name: State}
                    -
                        src_name: Longitude
                        dst_name: longitude
                    -
                        src_name: Latitude
                        dst_name: latitude
    # plane to missile
    - 
        from: RedPlane
        members:
            - GuideMsg
        subscribers:
            - 
                to: RedMissile
                name_convert:
                    -
                        src_name: GuideMsg
                        dst_name: input_guide_msg
    - 
        from: RedPlane
        members:
            - PlaneInfo
        subscribers:
            - 
                to: BlueMissile
                name_convert:
                    -
                        src_name: PlaneInfo
                        dst_name: input_target_output_info
    - 
        from: BluePlane
        members:
            - GuideMsg
        subscribers:
            - 
                to: BlueMissile
                name_convert:
                    -
                        src_name: GuideMsg
                        dst_name: input_guide_msg
    - 
        from: BluePlane
        members:
            - PlaneInfo
        subscribers:
            - 
                to: RedMissile
                name_convert:
                    -
                        src_name: PlaneInfo
                        dst_name: input_target_output_info
    # missile to plane
    -   
        from: RedMissile
        members:
            - output_damage_msg
            - output_entity_output_info
            - output_lock_interact_msg
        subscribers:
            - 
                to: BluePlane
                name_convert:
                    -
                        src_name: output_damage_msg
                        dst_name: damage_msg
                    -
                        src_name: output_entity_output_info
                        dst_name: Missile_outputs
                    -
                        src_name: output_lock_interact_msg
                        dst_name: missile_flag
            -
                to: agent
                name_convert:
                    -
                        src_name: output_lock_interact_msg
                        dst_name: lock_target
                    -
    -   
        from: BlueMissile
        members:
            - output_damage_msg
            - output_entity_output_info
            - output_lock_interact_msg
        subscribers:
            - 
                to: RedPlane
                name_convert:
                    -
                        src_name: output_damage_msg
                        dst_name: damage_msg
                    -
                        src_name: output_entity_output_info
                        dst_name: Missile_outputs
                    -
                        src_name: output_lock_interact_msg
                        dst_name: missile_flag
            -
                to: agent
                name_convert:
                    -
                        src_name: output_lock_interact_msg
                        dst_name: self_lock
    # RedPlane to Blue
    - 
        from: RedPlane
        members:
            - PlaneInfo
        subscribers:
            - 
                to: BluePlane
                name_convert:
                    -
                        src_name: PlaneInfo
                        dst_name: EnemyMessage
    # BluePlane to Red
    - 
        from: BluePlane
        members:
            - PlaneInfo
        subscribers:
            - 
                to: RedPlane
                name_convert:
                    -
                        src_name: PlaneInfo
                        dst_name: EnemyMessage
    # restart
    - 
        from: agent
        members:
            - restart
        subscribers:
            - 
                to: RedPlane
                name_convert:
                    - {name: restart}
            -        
                to: BluePlane
                name_convert:
                    - {name: restart}
                    
    # agent
    -
        from: agent
        members:
            - AgentCMD
        subscribers:
            - 
                to: RedPlane
                name_convert:
                    - {name: AgentCMD}
    - 
        from: RedPlane
        members:
            - PlaneInfo
            - TargetMessage
            - firecontrol
        subscribers:
            - 
                to: agent
                name_convert:
                    - {name: PlaneInfo}
                    - {name: TargetMessage}
                    - {name: firecontrol}